{% extends 'core/index.html' %}

{% load staticfiles %}

{% block title %}
Personal Health Cloud | Activity
{% endblock %}

{% block additional_css %}
<link href="{% static 'css/plugins/datapicker/datepicker3.css' %}" rel="stylesheet">
<link href="{% static 'css/plugins/dataTables/datatables.min.css' %}" rel="stylesheet">
<link href="{% static 'css/plugins/morris/morris-0.4.3.min.css' %}" rel="stylesheet">
{% endblock %}

{% block menu %}
	{% include 'portal/menu.html' %}
{% endblock %}

{% block content %}

<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-9">
		<h2>Activity&nbsp;&nbsp;<a href="{% url 'portal-fitness-update' %}"><i class="fa fa-history"></i></a></h2>
	</div>
	
	<div class="col-lg-3">
		<br>
		
		<div class="col-lg-4">
			<div class="form-group" id="data_1">
				<div class="input-group date">
					<span class="input-group-addon"><i class="fa fa-calendar"></i></span><input name="selectFrom" id="selectFrom" type="text" class="form-control" value="{{periodStart.month}}/{{periodStart.day}}/{{periodStart.year}}">
				</div>
			</div>
		</div>
		
		<div class="col-lg-1">to</div>
		
		<div class="col-lg-4">
			<div class="form-group" id="data_2">
				<div class="input-group date">
					<span class="input-group-addon"><i class="fa fa-calendar"></i></span><input name="selectTo" id="selectTo" type="text" class="form-control" value="{{periodEnd.month}}/{{periodEnd.day}}/{{periodEnd.year}}">
				</div>
			</div>
		</div>
		
		<div class="col-lg-3">
			<a class="btn btn-success" name="getURL" id="getURL" href="{% url 'portal-fitness-view' %}?fy={{periodStart.month}}&fd={{periodStart.day}}&fy={{periodStart.year}}&tm={{periodEnd.month}}&td={{periodEnd.day}}&ty={{periodEnd.year}}"><i class="fa fa-refresh"></i></a>
		</div>
		
	</div>
</div>

<div class="row wrapper wrapper-content animated fadeInRight">
	
	{% include 'portal/fitness-stats.html' %}
	
	{% include 'portal/fitness-distance-elevation.html' %}
	
	{% include 'portal/fitness-activity-intensity.html' %}
	
	{% comment %}
	{% include 'portal/fitness-data-tables.html' %}
	{% endcomment %}
	
</div>

{% endblock %}

{% block sidebar-tab-headers %}
	{% include 'portal/dashboard-tab-headers.html' %}
{% endblock %}

{% block sidebar-tab-content %}
	{% include 'portal/dashboard-tab-content.html' %}
{% endblock %}

{% block additional_js %}
	{% include 'portal/fitness-additional-js.html' %}
{% endblock %}
