	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h3>Sleep Duration Breakdown</h3>
				</div>
				
				<div class="ibox-content">
					<div class="row">
						<div class='col-lg-12'>
							
							{% if keyStats %}
							
							<div id="area-nutrition-key-stats" ></div>
							
							<br>
							
							<h4 align="center">Sleep Duration Breakdwown</h4>
							
							{% else %}
							
							<br>
							<h2><center>No sleep data for this period, or you haven't synced any devices/apps yet!</center></h2>
							
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>