{% extends 'core/index.html' %}

{% load staticfiles %}

{% block title %}
Personal Health Cloud | Fitness
{% endblock %}

{% block additional_css %}
<link href="{% static 'css/plugins/datapicker/datepicker3.css' %}" rel="stylesheet">
<link href="{% static 'css/plugins/iCheck/custom.css' %}" rel="stylesheet">
{% endblock %}

{% block menu %}
	{% include 'users/menu.html' %}
{% endblock %}

{% block content %}

<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-12"><h2>{{request.user.get_full_name}}</h2></div>
</div>

<div class="row wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title"><h5>General</small></h5></div>
				
				<div class="ibox-content">
					<form class="form-horizontal" name="users-profile-general-update" id="users-profile-general-update" method="POST" action="{% url 'users-profile-general-update' %}">
						
						{% csrf_token %}
						
						<div class="form-group">
							<label class="col-sm-1 control-label">First Name</label>
							
							<div class="col-sm-2">
								<input name="firstName" id="firstName" type="text" class="form-control" value="{{request.user.first_name}}">
							</div>
						
						</div>
						
						<div class="form-group">
							<label class="col-sm-1 control-label">Last Name</label>
							
							<div class="col-sm-2">
								<input name="lastName" id="lastName" type="text" class="form-control" value="{{request.user.last_name}}">
							</div>
						</div>
						
						<div class="hr-line-dashed"></div>
						
						<div class="form-group">
							<label class="col-sm-1 control-label">Gender</label>
							
							<div class="col-sm-2">
								<input name="lastName" id="lastName" type="text" disabled="" class="form-control" {% if profile.gender == 'M' %}value="Male"{% elif profile.gender == 'F' %}value="Female"{% endif %}>
							</div>
						</div>
						
						<div class="hr-line-dashed"></div>
						
						<div class="form-group">
							<label class="col-sm-1 control-label">Date of Birth</label>
							
							<div class="col-sm-2" id="dob">
				            	<div class="input-group date">
									<span class="input-group-addon"><i class="fa fa-calendar"></i></span><input name="dob" id="dob" type="text" class="form-control" value="{{profile.dob.month}}/{{profile.dob.day}}/{{profile.dob.year}}">
								</div>
							</div>
						</div>
						
						<div class="hr-line-dashed"></div>
						
						<div class="form-group">
							<label class="col-sm-1 control-label">Address 1</label>
							
							<div class="col-sm-2">
								<input name="address1" id="address1" type="text" class="form-control" placeholder="Street" {% if profile.address1 %}value="{{profile.address1}}"{% endif %}>
							</div>
						</div>
						
						<div class="form-group">
							<label class="col-sm-1 control-label">Address 2</label>
							
							<div class="col-sm-2">
								<input name="address2" id="address2" type="text" class="form-control" placeholder="Apt/Suite" {% if profile.address2 %}value="{{profile.address2}}"{% endif %}>
							</div>
						</div>
						
						<div class="form-group">
							<label class="col-sm-1 control-label">City</label>
							
							<div class="col-sm-2">
								<input name="city" id="city" type="text" class="form-control" placeholder="City" {% if profile.city %}value="{{profile.city}}{% endif %}">
							</div>
						</div>
						
						<div class="form-group">
							<label class="col-sm-1 control-label">State</label>
							
							<div class="col-sm-2">
								<select class="form-control m-b" name="state" id="state">
									<option id="0" selected>----</option>
									
									{% for state in states %}
									<option id={{state.id}} value="{{state.id}}" {% if profile.state == state %}selected{% endif %}>{{state.name_short}}</option>
									{% endfor %}
								</select>
							</div>
							
						</div>
						
						<div class="form-group">
							<label class="col-sm-1 control-label">Zip</label>
							
							<div class="col-sm-2">
								<input name="zipcode" id="zipcode" type="text" class="form-control" placeholder="Zip Code" {% if profile.zipcode %}value="{{profile.zipcode}}"{% endif %}>
							</div>
						</div>
						
						<div class="hr-line-dashed"></div>
						
						<div class="form-group">
							<label class="col-sm-1 control-label">Email Subscription</label>
							
							<div class="col-sm-2">
								<div class="i-checks">
									<input name="emailSubscription" id="emailSubscription" type="checkbox" value="" {% if profile.email_subscription %}checked=""{% endif %}>
								</div>
							</div>
						</div>
						
						<div class="hr-line-dashed"></div>
						
						<div class="form-group">
							<div class="col-sm-2 col-sm-offset-1">
								<button class="btn btn-primary" type="submit"><i class="fa fa-edit"></i>&nbsp;&nbsp;Save</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block sidebar-tab-headers %}
{% endblock %}

{% block sidebar-tab-content %}
{% endblock %}

{% block additional_js %}

<script src="{% static 'js/plugins/datapicker/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'js/plugins/iCheck/icheck.min.js' %}"></script>

<script>
	$(document).ready(function(){
		$('#dob .input-group.date').datepicker({
		    startView: 2,
		    todayBtn: "linked",
		    keyboardNavigation: false,
		    forceParse: false,
		    autoclose: true
		});
		
        $(document).ready(function () {
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        });
	});
</script>

{% endblock %}
