{% extends 'core/index.html' %}

{% load staticfiles %}

{% block title %}
Personal Health Cloud | Fitness
{% endblock %}

{% block additional_css %}
<link href="{% static 'css/plugins/datapicker/datepicker3.css' %}" rel="stylesheet">
<link href="{% static 'css/plugins/iCheck/custom.css' %}" rel="stylesheet">
{% endblock %}

{% block menu %}
{% endblock %}

{% block content %}

<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-12">
		<h1>{{request.user.get_full_name}}</h1>
		
		{% if not profile.profile_complete %}
		<br><br>
		<h3><strong>You're almost there! It'll only take a couple of minutes to complete your profile...</strong></h3>
		{% endif %}
		
	</div>
</div>

<div class="row wrapper wrapper-content animated fadeInRight">
	<div class="row m-t-lg">
		<div class="col-lg-12">
			<div class="tabs-container">
				<div class="tabs-container">
					<ul class="nav nav-tabs">
						<li class="active"><a data-toggle="tab" href="#tab-general"> <h2><strong>General</strong></h2></a></li>
						<li><a data-toggle="tab" href="#tab-password"> <h2><strong>Password</strong></h2></a></li>
						{% comment %}<li class=""><a data-toggle="tab" href="#tab-billing"> <h2>Billing</h2></a></li>{% endcomment %}
					</ul>
					
					<div class="tab-content ">
						
						<br><br>
						
						<div id="tab-general" class="tab-pane active">
							<div class="panel-body">
								<form class="m-t" role="form" name="users-profile-update-general" id="users-profile-update-general" method="post" action="{% url 'users-profile-update-general' %}">
								{% csrf_token %}
								<div class="row">
									<div class="col-lg-2">
										<h2><strong>First Name</strong></h2>
									</div>
									
									<div class="col-lg-2"><h2><input name="firstName" id="firstName" type="text" class="form-control" value="{{request.user.first_name}}"></h2></div>
									
									<div class="col-lg-2">
									</div>
									
									<div class="col-lg-2">
										<h2><strong>Last Name</strong></h2>
									</div>
									
									<div class="col-lg-2"><h2><input name="lastName" id="lastName" type="text" class="form-control" value="{{request.user.last_name}}"></h2></div>
								</div>
								
								<hr>
								
								<div class="row">
									<div class="col-lg-2">
										<h2><strong>Gender</strong></h2>
									</div>
									
									<div class="col-lg-2">
										{% if profile.gender == 'M' %}
										
										<h2>Male</h2>
										
										{% elif profile.gender == 'F' %}
										
										<h2>Female</h2>
										
										{% endif %}
									</div>
									
									<div class="col-lg-2">
									</div>
									
									<div class="col-lg-2">
										<h2><strong>Date of Birth</strong></h2>
									</div>
									
		                            <div class=" col-lg-2 form-group" id="dob">
		                                <div class="input-group date">
											<span class="input-group-addon"><i class="fa fa-calendar"></i></span><input name="dob" id="dob" type="text" class="form-control" value="{{profile.dob.month}}/{{profile.dob.day}}/{{profile.dob.year}}">
		                                </div>
		                            </div>
										
								</div>
								
								<hr>
								
								<div class="row">
									<div class="col-lg-2">
										<h2><strong>Address</strong></h2>
									</div>
									
									<div class="col-lg-4">
										<div class="row">
											<div class="col-lg-8"><h2><input name="address1" id="address1" type="text" class="form-control" placeholder="Street" {% if profile.address1 %}value="{{profile.address1}}"{% endif %}></h2></div>
											
											<div class="col-lg-4"><h2><input name="address2" id="address2" type="text" class="form-control" placeholder="Apt/Suite" {% if profile.address2 %}value="{{profile.address2}}"{% endif %}></h2></div>
										</div>
										
										<div class="row">
											<div class="col-lg-4"><h2><input name="city" id="city" type="text" class="form-control" placeholder="City" {% if profile.city %}value="{{profile.city}}{% endif %}"></h2></div>
											
											<div class="col-lg-4">
												<h2>
													<select class="form-control m-b" name="state" id="state">
														<option id="0" selected>State</option>
														
														{% for state in states %}
														<option id={{state.id}} value="{{state.id}}" {% if profile.state == state %}selected{% endif %}>{{state.name_short}}</option>
														{% endfor %}
														
													</select>
												</h2>
											</div>
											
											<div class="col-lg-4"><h2><input name="zipcode" id="zipcode" type="text" class="form-control" placeholder="Zip Code" {% if profile.zipcode %}value="{{profile.zipcode}}"{% endif %}></h2></div>	
										</div>
									</div>
								</div>
								
								<hr>
								
								<div class="row">
									<div class="col-lg-2">
										<h2><strong>Email Subscription</strong></h2>
									</div>
									
									<div class="col-lg-2">
										<div class="i-checks"><input name="emailSubscription" id="emailSubscription" type="checkbox" value="" {% if profile.email_subscription %}checked=""{% endif %}></div>
									</div>
									
								</div>
								
								<hr>
								
								<div class="row">
									<div class="col-lg-2">
									</div>
									
									<div class="col-lg-4">
										<br><br>
										<a class="btn btn-default btn-lg" href="{% url 'users-profile-view' %}"><i class="fa fa-person"></i>&nbsp;&nbsp;Cancel</a>
										&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										<button class="btn btn-success btn-lg" type="submit"><i class="fa fa-edit"></i>&nbsp;&nbsp;Save</button>
										<br><br>
									</div>
								</div>
								</form>
							</div>
						</div>
						
						<div id="tab-password" class="tab-pane">
							<div class="panel-body">
								<form class="m-t" role="form" name="users-profile-update-general" id="users-profile-update-password" method="post" action="{% url 'users-profile-update-password' %}">
								{% csrf_token %}
								
								<div class="row">
									<div class="col-lg-2">
										<h2><strong>Current Password</strong></h2>
									</div>
									
									<div class="col-lg-2"><h2><input name="currentPass" id="currentPass" type="password" class="form-control" value=""></h2></div>
									
								</div>
								
								<hr>
								
								<div class="row">
									<div class="col-lg-2">
										<h2><strong>New Password</strong></h2>
									</div>
									
									<div class="col-lg-2"><h2><input name="newPass" id="newPass" type="password" class="form-control" value=""></h2></div>
									
									<div class="col-lg-2">
									</div>
									
									<div class="col-lg-2">
										<h2><strong>Confirm Password</strong></h2>
									</div>
									
									<div class="col-lg-2"><h2><input name="confirmPass" id="confirmPass" type="password" class="form-control" value=""></h2></div>
								</div>
								
								<hr>
								
								<div class="row">
									<div class="col-lg-2">
									</div>
									
									<div class="col-lg-4">
										<br><br>
										<a class="btn btn-default btn-lg" href="{% url 'portal-dashboard' %}"><i class="fa fa-dashboard"></i>&nbsp;&nbsp;Dashboard</a>
										&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										<button class="btn btn-success btn-lg" type="submit"><i class="fa fa-key"></i>&nbsp;&nbsp;Update Password</button>
										<br><br>
									</div>
								</div>
							</form>
							</div>
						</div>
						
						{% comment %}
						<div id="tab-billing" class="tab-pane">
							<div class="panel-body">
								<div class="row">
									<div class="col-lg-2">
										<h2><strong>Billing Address</strong></h2>
									</div>
									
									<div class="col-lg-2">
										<h2>
											{{billing.address1}} {% if billing.address2 %}, {{billing.address2}}{% endif %}
											{{billing.city}} {{billing.state.name_long}} {{billing.zipcode}}
										</h2>
									</div>
								</div>
								
								<hr>
								
								<div class="row">
									<div class="col-lg-2">
										<h2><strong>Subscription Plan</strong></h2>
									</div>
									
									<div class="col-lg-2">
										<h2>{{profile.subscription.name_short}}</h2>
									</div>
								</div>
								
								<hr>
								
								<div class="row">
									<div class="col-lg-2">
									</div>
									
									<div class="col-lg-4">
										<br><br>
										<a class="btn btn-default btn-lg" href="{% url 'portal-dashboard' %}"><i class="fa fa-dashboard"></i>&nbsp;&nbsp;Dashboard</a>
										&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										<a class="btn btn-success btn-lg" href="#"><i class="fa fa-credit-card"></i>&nbsp;&nbsp;Change Plan</a>
										<br><br>
									</div>
								</div>
							</div>
						</div>
						{% endcomment %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block sidebar-tab-headers %}
{% endblock %}

{% block sidebar-tab-content %}
{% endblock %}

{% block additional_js %}

<script src="{% static 'js/plugins/datapicker/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'js/plugins/iCheck/icheck.min.js' %}"></script>

<script>
	$(document).ready(function(){
		$('#dob .input-group.date').datepicker({
		    startView: 2,
		    todayBtn: "linked",
		    keyboardNavigation: false,
		    forceParse: false,
		    autoclose: true
		});
		
        $(document).ready(function () {
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        });
	});
</script>

{% endblock %}
