<div class="row">
	<div class="col-lg-2">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<h5>Calories</h5>
			</div>
			
			<div class="ibox-content">
				<h1 class="no-margins">
					{{dailyStats.calories}} <small>kcal</small> 
				</h1>
			</div>
		</div>
	</div>
	
    <div class="col-lg-2">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Carbohydrates</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">{{dailyStats.carbs}} <small>g</small></h1>
            </div>
        </div>
    </div>
	
    <div class="col-lg-2">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Fat</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">{{dailyStats.fat}} <small>g</small></h1>
            </div>
        </div>
    </div>
	
    <div class="col-lg-2">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Protein</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">{{dailyStats.protein}} <small>g</small></h1>
            </div>
        </div>
    </div>
	
	<div class="col-lg-2">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Fiber</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">{{dailyStats.fiber}} <small>g</small></h1>
            </div>
        </div>
	</div>
	
    <div class="col-lg-2">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Water</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">{{dailyStats.water}} <small>ml</small></h1>
            </div>
        </div>
    </div>
</div>